h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.containr {
  /*width 1170px*/
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .containr {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .containr {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containr {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto;
  gap: 50px;
}

.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  padding-left: 53px;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196F3;
}

.header-link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: #2196F3;
}

.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.hero-title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  background-color: #2196F3;
  margin-top: 45px;
  padding: 10px 32px;
  border-radius: 4px;
}

.benefits {
  margin-top: 94px;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.benefits-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.work {
  margin-top: 94px;
  margin-bottom: 94px;
}

.work-list {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.work-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-list {
  margin-top: 92px;
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-list {
  margin-top: 9px;
}

.adress-link {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.card-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding-top: 100px;
  padding-bottom: 56px;
}

.btn-btn {
  padding: 6px 25px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.btn-btn:hover {
  background-color: #2196F3;
  color: white;
}