.work {
    margin-top: 94px;
    margin-bottom: 94px;
}

.work-list {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.work-title {
    color: $accent-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}